body,
html,
#app {
	height: 100%;
	display: flex;
	justify-content: space-around;
}
.upc {
	padding: 2em 0 6em 0;
	height: 100%;
	text-align: center;
}
.upc:last-of-type {
	margin-bottom: 0;
}

.upc input {
	font-family: monospace;
	font-size: 2em;
	text-align: center;
	width: 100%;
}

nav {
	display: flex;
	justify-content: space-around;
	margin: 2em 0 5em 0;
}
nav:last-of-type {
	margin-bottom: 0;
}
a.button {
	padding: 0.5em;
	border: 2px solid black;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: black;
}

.scan-more {
	width: 100%;
	text-align: center;
	padding: 2em 0 3em 0;
}
